<header class="body-row shell-header">
    <div class="logo">
        <img src="img/spartan-obstacles-logo-401x143.jpg" alt="Spartan Obstacles">
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav aria-expanded="false">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="courses/">Races</a>
            </li>
            <li>
                <a href="profile/">Blog</a>
            </li>
            <li>
                <a href="ocr-book/">Book</a>
            </li>
            <li>
                <a href="gear/">Gear</a>
            </li>
            <li>
                <a href="about/">Contact</a>
            </li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<div class="start-body">

{{{body}}}

</div>
<footer class="shell-footer shell-footer-row">
    <div class="footer-column">
        <div class="logo-footer">
            <img srcset="img/love2dev-logo-light-dev-trans-1280x214.png 1280w,img/love2dev-logo-light-dev-trans-1280x214.png 1280w,img/love2dev-logo-light-dev-trans-1280x214.png 1280w,img/love2dev-logo-light-dev-trans-1280x214.png 1280w,img/love2dev-logo-light-dev-trans-717x120.png 717w,img/love2dev-logo-light-dev-trans-717x120.png 717w,img/love2dev-logo-light-dev-trans-460x77.png 460w,img/love2dev-logo-light-dev-trans-320x54.png 320w"
                src="img/love2dev-logo-light-dev-trans-1280x214.png" style="max-width: 200px" alt="Love2Dev - The Progressive Web Application Experts"
                class="application-logo">
        </div>
        <div class="footer-column-container">
            <p>The Best Technologies to Make Your Business Home Screen Worthy</p>
            <ul class="social-links circle">
                <li class="twitter">
                    <a target="_blank" rel="noopener" title="Follow Chris Love on Twitter" href="http://www.twitter.com/chrislove">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li class="facebook">
                    <a target="_blank" rel="noopener" title="Follow Love2Dev on Facebook" href="http://www.facebook.com/love2dev">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li class="googleplus">
                    <a target="_blank" rel="noopener" title="Follow Love2Dev on Google Plus" href="https://plus.google.com/b/110904107389779237581/?pageId=110904107389779237581">
                        <i class="icon-gplus"></i>
                    </a>
                </li>
                <li class="linkedin">
                    <a target="_blank" rel="noopener" title="Follow Love2Dev on LinkedIn" href="https://www.linkedin.com/in/love2dev">
                        <i class="icon-linkedin"></i>
                    </a>
                </li>
                <li class="youtube">
                    <a target="_blank" rel="noopener" title="Follow Love2Dev on Youtube" href="https://www.youtube.com/c/Love2Dev">
                        <i class="icon-youtube-squared"></i>
                    </a>
                </li>
                <li class="slideshare">
                    <a target="_blank" rel="noopener" title="Follow Love2Dev on SlideShare" href="https://www.slideshare.net/docluv">
                        <i class="icon-slideshare"></i>
                    </a>
                </li>

                <li class="github">
                    <a target="_blank" rel="noopener" title="Follow Love2Dev on GitHub" href="https://www.github.com/docluv">
                        <i class="icon-github-circled"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-column">
        <div class="footer-column-container card-panel">
            <a href="http://pwacourse.com/" class="card card-full">
                <div class="card-image">
                    <img data-srcset="img/progressive-web-app-course-card-1200x632.png 1200w, img/progressive-web-app-course-card-980x517.png 980w,img/progressive-web-app-course-card-720x380.png 720w,img/progressive-web-app-course-card-460x243.png 460w,img/progressive-web-app-course-card-320x169.png 320w"
                        sizes="(max-width: 480px) 95vw, 25vw" data-src="img/progressive-web-app-course-card-1200x632.png"
                        alt="Progressive Web Apps From Beginner to Exper $29!" class="lazy-image" />
                    <span class="card-title">Progressive Web Apps From Beginner to Expert $29!</span>
                </div>
            </a>
        </div>
    </div>
    <div class="footer-column">
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="courses/" class="nav-link">Courses</a>
                </li>
                <li class="nav-item">
                    <a href="profile/" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="about/" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="privacy/" class="nav-link">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
<div class="shell-footer-row subfooter">
    <p>Copyright © 2018 <a href="/">Love2Dev</a>. All Rights Reserved</p>
</div>